extends layout.pug

block content
    include search-form.pug

    div
        h2 Info
        h3= package.name
        p.
            This is an experimental search engine which basically just works as a frontend for PostgreSQL full text search plus a basic crawler.
        p 
            | You can view the source code 
            a(href=package.repository.url) here
            | .