html
    head
        title= title
        link(rel="stylesheet", href="/dist/style.css")
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
    body
        .flashes
            each flashArray, flashType in flashes
                each flash in flashArray
                    div(class=`flash flash-${flashType}`)= flash
        main
            block content