body
    font-family 'Fira Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

h1, h2, h3, h4, h5, h6
    margin 0
    font-weight 300

.flash
    border 1px solid black
    padding 0.5em
    margin 0.5em

.flash-info
    background lightblue

.flash-error
    background lightcoral

form
    margin 0

button, input
    border-radius 0
    border 1px solid black
    padding 0.5em
input[type=submit], button
    background lightgray

.search-form
    .search-input
        width calc(100% - 6em)
        font-size 1.2em
    .search-button
        font-size 1.2em
        width 6em
        border-left none

    padding-bottom 1em

.search-results
    td
        padding-right 1em

.admin > *
    margin-top 1em